header {
    padding: 0 40px;
    height: 80px;
    margin-bottom: 30px;
    background: #fff;
}

.title {
    line-height: 80px;
    margin-left: 20px;
}

.title span {
    font-size: 16px;
    text-transform: uppercase;
    color: #ee8887;
}

.title .subTitle {
    margin-left: 10px;
    color: rgb(204, 204, 204);
    text-transform: unset;
    font-size: 15px;
}