{
  "presets": [
    "react",
    "es2015"
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}